<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="user-scalable=no" />

<style>
 
  .row::after {
  content: "";
  clear: both;
  display: table;
  }
  
  button{
      background-color: #2baae2 !important;
      border-color: #2baae2 !important;
  }
  .border-css{
      border-top: 10px solid rgba(128, 128, 128, 0.31);
      border-bottom : 10px solid rgba(128, 128, 128, 0.31);
      border-left : 8px solid rgba(128, 128, 128, 0.31);
      border-right : 8px solid rgba(128, 128, 128, 0.31);
      text-align: center; 
      margin-top: 15px;
      padding: 15px;
      background-color: #ffffff;
  }
  
  .button {
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .col1 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 120px;
  }

  .col3 {
    width: 100%;
    padding: 10px;
    height: 70px; 
    text-align: center;
  }  
  
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .margineimg
  {
  margin-top: 40px;
  text-align: right;
  margin-right: 15px;
  }
  
  .margineimg1
  {
  margin-top: 40px;
  text-align: left;
  margin-left: 15px;
  }
  
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto; 
    margin-right: auto;
    color: #383838;
    font-size: small;
    background-color: #ffffff;
    font-size: 140%;
    word-spacing: 20%;
  }
  
  #customers td, #customers th {
    border: 1px solid #fff;
    padding: 5px;
  }

  body{
  margin:0px;
  padding: 0.5em;
}
.calibreEbookContent{
    max-width: 100%;
    max-height: 100%;
    float:left;
    padding:5px;
}

.calibre19 {
    background-color: #17154e;
    display: table-row;
    vertical-align: inherit;
    }
.calibre20 {
    display: table-cell;
    padding-bottom: 0;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle
    }
.calibre21 {
    display: inline-block
    }
.calibre22 {
    -ms-interpolation-mode: bicubic;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    display: block;
    height: auto;
    max-width: 35px;
    min-height: 35;
    min-width: 35px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 35px
    }
.calibre23 {
    -ms-interpolation-mode: bicubic;
    border-bottom-color: currentColor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-left-color: currentColor;
    border-left-style: none;
    border-left-width: medium;
    border-right-color: currentColor;
    border-right-style: none;
    border-right-width: medium;
    border-top-color: currentColor;
    border-top-style: none;
    border-top-width: medium;
    display: block;
    height: auto;
    max-width: 35px;
    min-width: 35px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 35px
    }

    h3, p{
    color: rgb(70, 70, 70);
    line-height: 200%;
}

.column {
 /* float: left; */
width: 30.33%;
padding: 1px;
}

.center-vertical{
    top: 0;
    bottom: 0;
    margin: auto; 
    letter-spacing: 2px; 
    text-align: center; 
    color: #fff; 
}
.wrapper {
    display: flex;
}

</style>

<title>Won</title>
</head>

<body style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
  <div class="calibreEbookContent">
    
    <div>
        <img src="https://real11-images.s3.ap-south-1.amazonaws.com/header.png" alt="logo" style=" max-width: 100%;
        max-height: 100%; margin-top: -10px; margin-left: -5px;"> 
    </div>

    <!-- <div class="row" style="background-color: #2baae2;">
        <div class="column text-right" style="margin:25px; margin-left: 15%; width: 30.33%; padding: 1px;">
            <img src="https://real11-images.s3.ap-south-1.amazonaws.com/truck-01.png" alt="truck" style="width:50%; ">
        </div>
        
        <div class="column text-right" style="margin:25px; margin-left: 15%">
            <img src="https://real11-images.s3.ap-south-1.amazonaws.com/truck-01.png" alt="truck" style="width:50%; ">
        </div>

    </div> -->




    <div class="row" style="background-color:#2baae2;">
          <img  class="column" src="https://real11-images.s3.ap-south-1.amazonaws.com/truck-01.png" alt="truck" style="margin:25px;  margin-right:0px; max-height: 100%; max-width: 100%;">
          <h1  class="column center-vertical" style="margin:25px; float: right; margin-right: 60px; margin-top:70px; font-size: 3vw; font-weight: bold;">DEPOSITE SUCCESSFUL</h1>
    </div>



    <!-- <div class="row" style="background-color:#2baae2; height: 200px;">
            <div class="column" style="margin:25px; margin-top: 0px; margin-left: 15%">
                <img src="https://real11-images.s3.ap-south-1.amazonaws.com/truck-01.png" alt="truck" style="width:50%; margin-top: 25px;">
            </div>
            <div class="column center-vertical" style="margin:25px; float: right; margin-top:0px;">
                <h1 style="margin-right: 30%; margin-top:60px;font-size: 2vw; font-weight: bold;">DEPOSITE SUCCESSFUL</h1>
            </div>
    </div> -->
<!--     
    <div class="col-md-12" style="text-align: center; margin-top: 5%; margin-bottom: 3%;">
        <h3 style="font-size: 30px;">Your cash deposite is successful in your Real11 <br> account!</h3>
    </div> -->



    <div class="col-md-12" style=" margin-top: 35px; background-color: #ffffff; ">
    <table id="customers">
       <tr>
           <td>Hi <%- messageData.userName %>,</td>
           <td></td>
           <td></td>
         </tr>

         <tr>
            <!-- <td>You have successfully added Rs. <%- messageData.depositeAmount %> in your Real11 account!</td> -->
            <td>Rs. <%- messageData.depositeAmount %> has been successfully added to your Real11 wallet.</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
           <td>Your Order ID is <b>‘<%- messageData.orderId %>’</b>.</td>
           <td></td>
           <td></td>
         </tr>
         </table>
         </div>

    <div class="col-md-12" style="text-align: center; margin-top: 3%; margin-bottom: 3%;">
        <h2 style="word-spacing: 1px;color: #000;font-size: 20px;">CHECK YOUR REAL11 AMOUNT</h2>
    </div>

    <div class="col-md-12 border-css">
        <p>Are you ready to explore the world of fantacy sports? Play now and win huge!</p>
        <h3>Invite your friends & earn as they play!</h3>
        <div class="button">
      
       <button class="button"><a href="https://real11.page.link/rGEPw93eUZbgVBJQ8">INVITE NOW</a></button>
        
       </div>
    </div>
    
    <div class="row1">
      <div style="background-color:#17154e;" >

      <div class="col1">
        <div class="margineimg">
          <a href="https://apk.real11.com/Real11.apk" target="_blank">
            <img src="https://real11-images.s3.ap-south-1.amazonaws.com/and.png" alt="android" style="max-width: 100%; max-height: 100%">
          </a>   
        </div>
      </div>

      <div class="col1">
        <div class="margineimg1">
          <a href="https://apps.apple.com/in/app/real11/id1455728625?ls=1" target="_blank">
            <img src="https://real11-images.s3.ap-south-1.amazonaws.com/app.png" alt="apple" style="max-width: 100%; max-height: 100%">
          </a>
        </div>
      </div>

      <div >
        <p style="color:white; text-align: center; text-decoration: underline;">
          <a href="https://real11.com/" style="color: white" target="_blank">Contact Us</a>
        </p>
       </div>
       <div class="col3">        
        <a href="https://twitter.com/Real11official" target="_blank" class="calibre21">
          <img src="https://imagizer.imageshack.com/img924/7416/4JgNVn.png" class="calibre22"/>
      </a> 
      <a href="https://www.instagram.com/real11official" target="_blank" class="calibre21"> 
          <img src="https://imagizer.imageshack.com/img922/3029/wy9xnb.png" class="calibre23"/>
      </a> 
      <a href="https://www.facebook.com/real11official" target="_blank" class="calibre21">
          <img src="https://imagizer.imageshack.com/img922/9586/BrqPZE.png" class="calibre23"/>
      </a> 
      <a href="https://t.me/REAL11_OFFICIAL" target="_blank" class="calibre21"> 
          <img src="https://imagizer.imageshack.com/img923/2351/mvg22v.png" class="calibre23"/> 
      </a>
       </div>
    </div>    
  </div>
  
  </div>
</body>
</html>