<%- include ie-check %>
<%- include('../common/head', {title: 'Forgot Your Password?', description: 'Forgot Your Password?  No worries!e',}) 
%>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-4 col-md-offset-4 col-lg-6 col-lg-offset-3">
			<div class="header">
				<h3>Forgot your password?</h3>
				<%- include('../common/alert-message.ejs', {error: locals.error, notice: locals.notice}); %>
				<p>
					Enter your email address below to reset your password. You will
					be sent an email which you will need to open to continue. You may
					need to check your spam folder.
				</p>
			</div>
			<form method="post" role="form" action="/users/password/reset" class="login-form form-horizontal">
				<input name="_csrf" type="hidden">
				<div class="form-group group-email">
					<label class="col-sm-12">Email or Phone:</label>
					<div class="col-sm-12">
						<input placeholder="Email or phone" required name="username" type="text" class="form-control">
					</div>
				</div>
				<div>
					<button type="submit" class="login btn btn-login green">Send</button>
					<a href="/users/login" class="forgot green">Back to Log In</a>
				</div>
			</form>
		</div>
	</div>
</div>
<% include ../common/footer %>
<%- include('../common/foot') %>