<h1>Welcome</h1>

<h3> Dear <%= username %> </h3>

<p>Thanks for joining Real11. We are one of the fastest growing fantasy platforms that allows users to play fantasy sports.</p>
<p>
   In case of any queries, please <a>contact us here</a>.
</p>
<p>
   Best Wishes,
   <h3>Team Real11</h3>
</p>

<p>Play on Real11!</p>
<img src="../../../client/images/googleplay.png" width="120"> &nbsp;&nbsp;<img src="../../../client/images/appstore.png" width="120">


<p><b>IMPORTANT:</b> Please do not reply to this message or mail address. For any queries, please contact us at <a href="mailto:support@real11.com">support@real11.com</a>. </p>

