<%
    var title = title || locals.appName;
    var description = description || "";
    var additionalStyleLinks = locals.styles || null;
    var additionalMetaTags = locals.metaTags || null;
%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=title%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no user-scalable=0 maximum-scale=1, minimum-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta content="<%=description%>" name="description">

        <% if(additionalMetaTags) { %>
            <% additionalMetaTags.forEach(function(metaTag) { %>
                <<%- metaTag %>/>
            <% }) %>
        <% } %>


        <link rel="apple-touch-icon" href="../images/favicon.ico">
        <link rel="android-touch-icon" href="../images/favicon.ico" />
        <link rel="shortcut icon" type="image/png" href="../images/favicon.ico" />


        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
        <link rel="stylesheet" href="/styles/normalize.css">
        
        <!-- Third party styles  -->
        <!-- TODO: Remove styles no used -->
        <link rel="stylesheet" href="/styles/jquery-ui-timepicker-addon.css"/>
        <link rel="stylesheet" href="/styles/jquery-ui-timepicker-addon.min.css"/>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
        <link rel="stylesheet" href="/styles/sweetalert.css">
        <link rel="stylesheet" href="/styles/swalExtend.css">
        <link rel="stylesheet" href="/styles/slider.css"/>
        <link rel="stylesheet" href="/styles/toastr.min.css"/>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>
        <link rel="stylesheet" href="/styles/bootstrap-toggle.min.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Open+Sans">
        <!-- App Styles -->
        <!-- additional views styles loaded -->
        <% if(additionalStyleLinks) { %>
            <% additionalStyleLinks.forEach(function(styleSrc) { %>
                <link rel="stylesheet" href="<%=styleSrc%>" />
            <% }) %>
        <% } %>
    </head>
    <body>
    <% include header %>
    <%#- include('../common/alert-message.ejs', {error: locals.error, success: locals.success}); %>
